/* Resets */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary-color: #F44E26;
  --secundary-color: #508BA6;
  --white-color: #fff;
  --light-grey-color: #F7F7F7;
  --dark-grey-color: #595959;
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }


    body, .card--item, .card--collection-message {
    opacity:0;
    -webkit-animation: fadeIn 500ms linear;
    -moz-animation: fadeIn 500ms linear;
    -o-animation: fadeIn 500ms linear;
    animation: fadeIn 500ms linear; 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;}
*{
  scroll-behavior: smooth;

}
body,html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  width: 100vw;
  overflow-x: hidden;

  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body{
  background-image: url("../imgs/aprendi-banner-1.png");
  background-repeat: no-repeat;
  background-position: center 65px;
}
a{
  text-decoration: unset;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0;
  width: 1000px;

}

/* Navbar */
nav, ul{
  display: flex;
  align-items: center;


}

nav{
  justify-content: space-between;
}

.logo {

  color: var(--primary-color);
  margin-right: 100px;
}

.logo img{
  width: 200px;
}

#go-filter{
  font-size: 28px;
}
.toggle{
  z-index: 15;
  position: absolute;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;

  padding: 0 30px;
  right: 0;
  top: 10px;
  background: rgba(0,0,0,0);

  border: unset;
}

.toggle i{

  display: none;
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
  color: var(--primary-color);
  border-radius: 4px;

  cursor: pointer;
}

ul li{
  margin: 0 10px;
  list-style: none;
  padding: 10px 10px;
  border-radius: 24px;

}

ul li:hover{
  background: var(--light-grey-color);
}

ul a{
  color: var(--secundary-color);
  font-size: 16px;
  font-weight: 700;
  text-decoration: unset;
}

.nav__ul--siginu-up{
  background: var(--white-color);
  border: 3px solid var(--light-grey-color);
}

.nav__ul--siginu-up:hover{
  background: var(--white-color);
  box-shadow: 2px 3px 5px var(--light-grey-color);
}




/* Header Call to Action */

.header-container{
  display: block;
  height: 100vh;
  overflow-y: hidden;
}

.container__header--content{
  display: flex;
  flex-direction: column;
}

#header-background{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.header-container #header-background  h1{
  font-size: 42px;
  letter-spacing: 2px;
  color: var(--primary-color);
  margin-top: 30px;
  margin: 10px auto;

  background: rgba(255,255,255,0);
}

.header-container #header-background  p{
  width: 62vw;
  color: var(--secundary-color);

  font-size: 22px;
  font-weight: 500;

  margin: 20px auto;

  background: rgba(255,255,255,0);
}

.header-container #header-background .buttons{

  display: flex;
  justify-content: center;
  
  height: 100px;
  width: 600px;

  margin: 10px auto;
  background: rgba(255,255,255,0);
}

.header-container #header-background .buttons a{
  display: flex;
  font-size: 22px;
  text-align: center;
  text-decoration: unset;
  align-items: center;
  margin: 15px 12px;
  padding: 0 14px;
  transition: filter .2s;
  box-shadow: 0 0 20px var(--dark-grey-color);
}
.header-container #header-background .buttons a:hover{
  filter: brightness(80%);
}

.header-container #header-background .buttons #to-learn{
  color: #fff;
  background: var(--primary-color);
  padding: 0 16px;
  margin: 16px 12px;
  border: var(--primary-color);
}
.header-container #header-background .buttons #see-more{
  color: var(--secundary-color);
  border: 6px solid var(--primary-color);
  background: rgba(244,78,38,.1);
  font-weight: 500;
}

/* Header Call to Action */

/* Header Filter*/

header h2{
  font-size: 16px;
  font-weight: 500;

}

header h3{
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.sub{
  color: var(--primary-color);
  margin-bottom: 8px;
}

.header__filter{
  width: 100%;

  padding: 10px 0 10px 15px;
  border: 2px solid var(--light-grey-color);
  border-radius: 14px;
  box-shadow: 2px 3px 10px #DDDDDD;
}

.header__filter, .input-group{
  display: flex;

}

.input-item{
  padding-right: 30px;
  padding-left: 5px;
}
.between{
  border-left: 1px solid #DDDDDD ;
  border-right: 1px solid #DDDDDD ;
}

select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  margin-top: 0;
  height: 30px;
  width: 200px;
  font-size: 12px;
}
.select-container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
  background: rgba(255,255,255,0);
}

.select-container .select-style{
  position: relative;
  z-index: 1;
  
  display: flex;
  align-items: center;
  
  width: 220px;
  height: 60px;

  margin: 0 8px;
  padding: 0 28px;
}

.select-container .select-style select{
  -webkit-appearance: none;
  appearance: none;

  z-index: 1;
  position: absolute;
  
  display: flex;
  align-items: center;
  
  width: 250px;
  padding: 0 10px;
  margin: 0 5px;
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  
  border: none;
  outline: none;
  background: rgba(255,255,255,0);

}

.select-container .select-style .arrow-icon {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 10px;

  width: 20px;
  height: 20px;

  background: rgba(255,255,255,0);

  border-bottom: 2px solid var(--secundary-color);
  border-right: 2px solid var(--secundary-color);
  transform: rotate(45deg);

} 

.filter-section-container h3{
  height: 60px;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: 400;
  color: #606060;

  margin: 24px 0 0 0;
}

.slider-container{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
}

.slider-container .slider{
  overflow: visible;
  z-index: 1;
  -webkit-appearance: none;
  width: 180px;

  height: 6px;
  margin: 10px 0;
  background: linear-gradient(90deg, rgb(80,139,166) 100%, rgb(96,96,96) 0%);
  outline: none;
  border-radius: 12px;
}

.slider-container .slider::-webkit-slider-thumb{

  -webkit-appearance: none;
  z-index: 1;
  appearance: none;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
  margin: -16px 0;
}

.slider-container .slider::-moz-range-thumb{
  z-index: 1;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
  margin: -16px 0;
}

.filter-section-container img{
  z-index: 0;
  position: absolute;
  bottom: 30px;
  right: -5px;

  width: 400px;

  opacity: .4;

}
#search-button{
  overflow: hidden;
  font-size: 14px;

  outline: none;
  background: var(--primary-color);
  color: var(--white-color);
  padding:  16px;
  margin: 22px 0 22px 0;
  border: none;
  border-radius: 8px;
}
#search-button i {
  padding-right: 4px;
}
.container__header{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Header Filter */


/* Main */

/* < first section >*/


.card--collection{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;

  padding-bottom: 100px;

}

.preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.card--collection-message{

  display: flex;
  flex-direction: column;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100vw;

}
.card--collection-message img{
  height: 350px;
}
.card--collection-message h2{
  width: 450px;
  text-transform: unset;
  font-weight: 400;
  font-size: 1.5em;
}

.card--collection .buttons{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  bottom: 14px;

}
.card--collection .buttons #see-more-cards, #see-all-cards{

  display: flex;
  align-items: center;

  padding: 0 20px;

  color: var(--secundary-color);
  border: 6px solid var(--primary-color);
  background: rgba(244,78,38,.1);
  font-weight: 500;

  cursor: pointer;
}

.card--item{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border: 1px solid var(--light-grey-color);
  box-shadow: 2px 3px 10px #DDDDDD;
  border-radius: 14px;
  overflow: hidden;

  margin: 8px 14px;
}
.card--item img{
  height: 220px;
}

main h1,h2,h3{
  text-transform: uppercase;
  margin: 8px;
  color: var(--secundary-color);
}
.card--item h1{
  font-size: 22px;
}
.card--item span{
  color: var(--dark-grey-color);
  font-size: 12px;
  margin: 8px;
}
.card--item h3{
font-size: 16px;
}

.card--content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  padding: 8px;

}
.card--price{
  position: absolute;
  bottom: 10px;

  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 6px;

}
.price--control{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.button__see--more .anchor--see-more{
  font-weight: 500;
  text-transform: uppercase;
  height: 40px;
  margin-right: 10px;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px 14px;
  margin: 4px 0 4px 0;
  border-radius: 8px;
}

/* </ first section > */


/* <Get Contact Styles >*/

.get-contact-container{

  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 100vw;
  height: 100%;
}

.get-contact-container form{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 800px;
  height: 100%;

  border-radius: 14px;

  background: #d9d9d9;

  margin: 40px 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.get-contact-container form .form__input-group{
  display: flex;
  flex-direction: column;

  margin: 8px 0;
  background: rgba(0,0,0,0);
  width: 100%;
}

.get-contact-container form input,textarea, button{
  background: rgba(0,0,0,0);
  font-family: 'Poppins', sans-serif;
}

.get-contact-container form input{
  font-size: 12px;

  text-align: start;

  height: 40px;
  width: 80%;

  border-radius: 8px;
  border: 2px solid #fff;

  margin: 5px auto;
  padding: 0 15px ;
  outline: none;
  
  background:#fff;
}

::-webkit-input-placeholder {
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.get-contact-container form textarea{
  font-size: 12px;

  color: #000;

  text-align: start;

  height: 100px;
  width: 80%;

  border-radius: 8px;
  border: 2px solid #fff;

  padding: 15px;
  margin: 15px auto;
  outline: none;

  background:#fff;
}

.get-contact-container form button{
  width: 200px;
  height: 40px;

  margin-top: 30px;

  color: #fff;
  font-size: 16px;

  border: 2px solid var(--primary-color);

  cursor: pointer;

  background: var(--primary-color);
}

form h1{
  text-transform: unset;
  font-size: 36px;
  font-weight: 500;
  color: var(--primary-color);
  background: rgba(0,0,0,0);
}

/* </Get Contact Styles >*/


/* < Footer > */
footer{
  color: var(--white-color);
  background: var(--primary-color);
}
span,img,.footer-message,p,a,h1, h2, li, .social-medias, 
.all-social-icons{
  background: rgba(0,0,0,0);

}

.footer-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--white-color);
  padding: 20px;
  background: var(--primary-color);
  overflow: hidden;
}
.footer-container h2{
  color: var(--white-color);
  font-size: 28px;
  font-weight: 400;
}
.footer-message {
  width: 100vw;
  
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-message p{
  font-size: 18px;
}
.footer-message i{
  margin: 0 12px;
}

.footer-message img{
  width: 150px;
  margin-left: 20px;
}

.social-medias{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 50vw;
}



.social-medias i{
  color: #fff;
  font-size: 3em;
  margin: 30px 20px;
  transition: filter .2s;
}

.social-medias i:hover{
  filter: brightness(80%);
}

.copy{
  padding: 20px;
}
/* </ Footer > */

/* Responsivity */


@media screen and (max-width:435px){
  

  .header-container #header-background  h1{
    font-size: 28px;
  }

  header h2{
    margin: 0 auto;
    font-size: 24px;
    font-weight: 500;
    padding: 0 16px;
  }
  .card--item{

    width: 250px;

    margin: 20px 12px;
  }
  #header-background{
    height: 90%;
  }
  .header-container #header-background  h1{
    font-size: 28px;
  }
  .header-container #header-background  p{
    font-size: 16px;
  }

  .input-group{
    padding: 30px;
    padding-bottom: 0;
  }
  .input-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;

    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width:635px){
  .logo img{
    width: 150px;
  }
  .card--item{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    border: 1px solid var(--light-grey-color);
    box-shadow: 2px 3px 10px #DDDDDD;
    border-radius: 14px;
    overflow: hidden;
  
    margin: 8px;
  }
  .card--item img{
    height: 250px; 
  }
  .card--price{
    position: unset;
  }
  .header-container #header-background .buttons{

    display: none;
  }

  .header-container #header-background  h1{
    margin-top: 60px;
    font-size: 40px;
  }
  .header-container #header-background  p{
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .card--collection-message{
    font-size: 14px;
  }
}

@media screen and (max-width:980px){
  .container{
    width: 100%;

    padding: 30px 20px 0 0;
  }

  .logo{
    z-index: 15;
    position: absolute;
    left: 20px;
    top: 6px;
    margin-top: 30px;
  }

  .logo img{
    width: 170px;
  }

  .toggle{
    top: 36px;
  }

  .toggle i{
    display: block;
  }

  .toggle-off{
    display: none;
  }
  .toggle--control{
  position: absolute;
  z-index: 10;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    width: 100vw;
    height: 50vh;
    margin-top: 50px;
    padding-top: 50px;
    background: transparent;
  }
  ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    height: 50px;
    margin: 0 10px;
    list-style: none;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid var(--light-grey-color);

    box-shadow: 2px 2px 10px var(--dark-grey-color);
  
  }
  ul a{
    color: var(--secundary-color);
    font-size: 22px;
    font-weight: 400;
    text-decoration: unset;
    margin: 6px 0;
  }

  #header-background{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header__filter{
    width: 70%;
    padding: 0 30px;
    margin: 10px auto;
    border: 2px solid var(--light-grey-color);
    border-radius: 14px;
    box-shadow:none;
  }
  
  .header__filter, .input-group{
    flex-direction: column;
    align-items: center;
  
  }
  .input-group{
    padding: 30px;
    padding-bottom: 0;
  }
  .input-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;

    width: 100%;
    padding-right: 0x;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .between{
    border: none;
  }
  .nav__ul--siginu-up:hover{
    background: var(--white-color);
    box-shadow: none;
  }
  select,slider{
    margin-top: 6px;
    height: 20px;
    width: 50vw;
    font-size: 12px;
    padding: 20px;
    border: 2px solid var(--light-grey-color);
    border-radius: 8px;
  }
  header h2{
    margin: 0 auto;
    font-size: 28px;
    font-weight: 500;
    padding: 0 16px;
    margin: 0 auto;
    width: 300px;

  }
  
  header h3{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
  }
  #search-button{
    font-size: 24px;
   
    padding: 14px 24px;
    margin: 4px 0 14px 0;
    border-radius: 8px;
  }
  .header-container #header-background  p{
    width: 80vw;
    padding: 0 16px;

    border-radius: 16px;
    box-shadow: 0 0 10px var(--dark-grey-color);

    padding: 14px;

    background: rgba(255,255,255,.8);
  }

  .card--collection{
    justify-content: center;
  }
}